<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>KF2 Music Thing</title>
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css"></link>
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"></link> -->
    <link rel="stylesheet" href="kf2music.css" ></link>
</head>
<body>
    <div ng-app="kf2Music">
        <div ng-controller="kf2MusicController">
            <div class="kf-title">
                <!-- <img src="images/KF2_Small_Slider.png" /> -->
                <h1>Listings</h1>
                <!-- <h3><a ng-click="killMe()">{{ h3Tag }}</a></h3> -->
            </div>
            <div ng-repeat="song in songs" class="song-container" >
                    <span class="number">{{ $index + 1}}.</span> {{song.toString()}} <span class="filename">{{song.fileName}}</span>
                    <span class="replaced-name" ng-show="song.isChanged()">
                        Replaced With {{song.wavName || "UNKNOWN FILE"}}
                    </span>
                    <label ng-attr-for="{{$index + 'fileinput'}}">
                    <span class="image-container" >
                        <img class="kf-upload-image" src="images/upload-line.svg" >
                    </span>
                    </label>
                    <input class="file-input" type="file" ng-attr-id="{{$index + 'fileinput'}}" onChange="angular.element(this).scope().fileChanges(angular.element(this).scope().$index, this)" ng-model="file"/> <!-- yeah i know -->
            </div>
        </div>
    </div>
    <script src="kf2music.js"></script>
</body>
</html>
