/*css*/

body, html {
    background-color: #333;
    color: #fff;
}
body {
    padding: 15px;
}
p, a {
    color: #fff;
}
button {
    color: #000;
}

.kf-title {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.song-container {
    /*width: 85%;*/
    background-color: #282828;
    border-top: 1px solid #444;
    padding: 15px 15px;
    /*height: 32px;*/
}

.number {
    font-size: .7em;
}

.filename {
    font-size: .8em;
    color: #999
}
.image-container {
    /*height: 32px;*/
    float: right;
    /*background-color: #444;*/
}
.kf-upload-image {
    height: 24px;
    /*float: right;*/
}
